.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 5em;
}
.fa-github, .fa-linkedin-square, .fa-facebook-square, .fa-twitter-square, .fa-instagram {
  color: #000;
  flex-direction: row;
  margin-right: 2.5em;
}
