.portfolio {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 1em;
}
.intro h3 {
  margin-top: 3em;
  @include desktop {
    margin-top: 5em;
  }
}

.fp-controlArrow.fp-next  {
  margin-right: 2em;
}
.fp-controlArrow.fp-prev {
  margin-left: 2em;
}
.fp-controlArrow.fp-prev, .fp-controlArrow.fp-next {
  border-color: transparent #30c9e8;
}

img{
  width: 800px;
  height: 600px;
}
