html {
  background-image: url(/Users/dylandills/Desktop/you-got-this/img/office.png);
  background-position: center center fixed;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
.title {
  display: flex;
  padding: 15em;
  color: #fff;
  h1,h2 {
    margin: auto;
  }
  h1 {
    font-size: 3.5em;
  }
  h2 {
    color: #fff;
    font-size: 2em;
  }
}
.chevron-down {
  fill: #FFF;
  margin: 3em 5em;
  width: 1em;
  height: 1em;
  animation: hover-me .5s infinite ease-in-out alternate;
}

@keyframes hover-me {
  100% { transform: translate3d(0, 25px, 0); }
}
