
body {
  font-family: 'Montserrat', sans-serif;
}

.btn {
  font-weight: 400;
  font-size: 40px;
  @include tablet {
    font-size: 22px;
  }
  @include desktop {
    font-size: 26px;
  }
}

/*Nav*/
nav .text-menu {
  font-size: 64px;
  @include tablet {
    font-size: 32px;
  }
  @include desktop {
    font-size: 32px;
  }
}

/*Splash*/
.title {
  font-size: 42px;
  @include tablet {
    font-size: 20px;
  }
  @include desktop {
    font-size: 24px;
  }
}

/*Skills*/
#section1 h1 {
  font-size: 64px;
  @include tablet {
    font-size: 22px;
  }
  @include desktop {
    font-size: 28px;
  }
}
#section1 h2 {
  font-size: 32px;
  @include tablet {
    font-size: 20px;
  }
  @include desktop {
    font-size: 24px;
  }
}
.three-column {
  font-size: 40px;
  @include tablet {
    font-size: 18px;
  }
  @include desktop {
    font-size: 22px;
  }
}

/*Portfolio*/
#section2 h3 {
  font-size: 48px;
  @include tablet {
    font-size: 22px;
  }
  @include desktop {
    font-size: 26px;
  }
}

#section2 p {
  font-size: 38px;
  @include tablet {
    font-size: 18px;
  }
  @include desktop {
    font-size: 22px;
  }
}

/*Contact*/
.contact h1 {
  font-size: 64px;
  @include tablet {
    font-size: 22px;
  }
  @include desktop {
    font-size: 26px;
  }
}

.contact p {
  font-size: 54px;
  @include tablet {
    font-size: 22px;
  }
  @include desktop {
    font-size: 26px;
  }
}
