/*Global Typography*/
p {
  font-weight: bold;
}

/*Sidebar nav*/
#fp-nav .fp-tooltip{
  font-family: "Share Tech Mono", Helvetica, Arial, sans-serif !important;
}
/*For Slider*/
.intro .title-logo{
	font-size: 5em;
}
